html,
body {
  height: 100%;
  margin: 0;
}

header {
  height: 5%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

#container {
  background-color: brown;
  margin: auto;
  width: 100%;
  height: 85%;
  position: relative;
}

#board {
  background-image:url("Images/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  float: left;
  /* transform: translate(-100%, -100%); */
}

.start{
  /* margin: auto; */
  width: 100%;
  height: 100%;
  position: absolute;
  align-content: center;
  z-index: 4;
  background-color: rgba(255, 0, 0, 0.404);
  display: flex;
  justify-content: center;
  align-items: center;
}
#scoreboard {
  float: left;
  background-color: rgb(243, 11, 224);
  /* margin-left: 0%; */
  width: 30%;
  height: 100%;
  /* height: 100%; */
  position: relative;
  /* z-index: -1; */
   display: none ; 
}

#result {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #FFFF00;
  padding: 10px;
  display: none;
}

#score {
  background-color: yellow;
  margin: auto;
}

#liveScore {
  margin: auto;
  width: 55px;
  height: 25px;
  top: -98%;
  left: 233%;
  position: absolute;
  background-color: rgba(206, 192, 192, 0.5);
  z-index: 3;
 display: flex;
  justify-content: flex-end;
  font-size: 23px;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

#generator {
  background-color: grey;
  width: 100%;
  position: relative;
  display: flex;
  z-index: 1;
}

#greenboard{
  background-image: url("Images/board.png");
  background-position: center;
  width: 100%;
  height:60px;
  border-radius:0 0 25px  25px;
  /* background-color: red; */
 top: 0;
  z-index: 2;
  position: absolute;
  display: inline-block;
  border: 1px wavy black;
}

#mobileScore{
  margin: auto;
  width: 55px;
  height: 25px;
  top: 3%;
  left: 70%;
  position: absolute;
  background-color: rgba(206, 192, 192, 0.5);
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  font-size: 23px;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.gen {
  width: 25%;
  /* display: inline-block; */
  background-color: yellow;
  position: relative;
  z-index: 0;
}

#1 {
  align-content: right;
}

img {
  width: 50px;
  height: 50px;
  position: absolute;
  animation: move 6s;
  animation-timing-function: linear;
}

@keyframes move {
  0% {
    top: 0px;
  }

  10% {
    top: 56px;
  }

  20% {
    top: 112px;
  }

  30% {
    top: 168px;
  }

  40% {
    top: 224px;
  }

  50% {
    top: 280px;
  }

  60% {
    top: 336px;
  }

  70% {
    top: 392px;
  }

  80% {
    top: 448px;
  }

  90% {
    top: 504px;
  }

  100% {
    top: 564px;
  }
}